APP_NAME=mini-paas
APP_HOST=0.0.0.0
APP_PORT=8081
DEBUG=false

POSTGRES_DB=mini_paas
POSTGRES_USER=mini_paas
POSTGRES_PASSWORD=mini_paas
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

DOCKER_NETWORK=mini-paas_default
NGINX_CONTAINER_NAME=mini-paas-nginx
NGINX_DYNAMIC_DIR=/app/nginx/dynamic
